.column-component{
    /* border: 1px solid #333; */
    background-color: #E6ECF0;
    height: 90vh;
    width: 320px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 700;
    line-height: 100%;
    padding: 16px 16px;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px 16px;
}

.count-task{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #D5D5D5;
    display: flex;
    align-items: center;
    justify-content: center;
}