@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}


.card {
  max-width: 24rem;
  margin: 4rem auto;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  text-align: center;
  color: #1a202c;
}

.card-header {
  height: 8rem;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.header-image {
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.profile-picture {
  width: 8rem;
  height: 8rem;
  margin: -4rem auto 0;
  border: 4px solid white;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.text-center h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.text-center p {
  color: #718096;
}

.stats {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  margin: 1rem 0;
  color: #4a5568;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-icon {
  width: 1rem;
  fill: #2a4365;
}

.action {
  padding: 1rem 2rem;
  border-top: 1px solid #e2e8f0;
}

.follow-button {
  width: 50%;
  padding: 0.5rem 1rem;
  background-color: #1a202c;
  color: white;
  font-weight: 600;
  border-radius: 9999px;
  transition: all 0.2s;
}

.follow-button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}